:root{
    --red:hsl(6,78%,57%);
    --gray:rgb(242,244,248);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: var(--gray);
    position: relative;
}
.container{
    width: 100%;
    max-width: 400px;
    /* background-color: red; */
    position: absolute;
    margin-block: 1em;
    left: 50%;
    transform: translateX(-50%);
    padding-block: 1em;
    /* padding-inline: .4em; */
}
.head{
    font-size: 2em;
    text-align: center;
    /* margin: 0 auto; */
    margin-bottom: .7em;
    color: var(--red);
    font-weight: 800;
}
.form-header{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1em;
}
form{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding-inline: .6em;
    padding-block: 1em;
    border-radius: 4px;
}
label>input{
    width: 100%;
    min-height: 3.5em;
    padding: 1em;
    border: 1.5px solid var(--gray);
}
label>input[placeholder="Email Address*"],label>input[placeholder="Password*"]{
    font-size: 1em;
}
.form-control{
    margin-bottom: 1em;
    position: relative;
    /* background-color: blue; */
}
#password-span{
    position: absolute;
    right: .4em;
    top:50%;
    transform: translateY(-50%);
    /* color: black; */
}
.grey{
    color: rgba(0,0,0,.4);
}
.password{
    text-align: end;
    color: var(--red);
    /* padding-inline: .4em; */
}
.password:hover{
    color: black;
}
button{
    width: 100%;
    font-size: 1em;
    border: none;
    background-color: var(--red);
    min-height: 2.5em;
    margin-block: .7em;
    /* color: white; */
}
#submit-button{
    color: white;
}
a:visited{
    text-decoration: none;
}
input,button{
    border-radius: 3px;
}
input:focus{
    outline: none;
    border: 2px solid black;
}
.sign-in{
    text-align: center;
    color: grey;
}
.google-button{
    background-color: white;
    border: 1px solid var(--red);
}
.line::after, .line::before{
    content: "";
    height: 2px;
    background-color: var(--gray);
    display: block;
}
.line{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: center;
    color: gray;
}
.small-button{
    background-color: hsl(210,79%,46%);
    max-width: 11em;
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    padding: .4em;
    font-size: 1.2em;
    border-radius: 3px;
}
a{
    text-decoration: none;
    color: white;
}
.fixed{
    display: flex;
    justify-content: center;
    gap: 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(242,244,248);
    z-index: 1200;
}
.fixed>span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .7em;
    font-size: 1.2em;
}
.red-color{
    color: var(--red);
}
.small-button,#submit-button,.google-button{
    cursor: pointer;
}
.home,.profile,.deals{
    cursor: pointer;
}